<a href="https://colab.research.google.com/github/Sommer8000/Python-Pyspark/blob/main/Exercicios_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Questão 1

In [ ]:
valor=input('Digite um valor n ')
valor=int(valor)
  
if valor %2 == 0 :
    print('O valor inserido é par')
if valor %2!=0:
    (print('O valor inserido é impar'))

Digite um valor n 6
O valor inserido é par

##Questão 2

In [ ]:
for x in range(20):
  if x%2 == 0:
    print(x)

0
2
4
6
8
10
12
14
16
18

##Questão 3

In [ ]:
Idade=input('Qual sua idade? ')
Idade=int(Idade)
Fidade=Idade+100

print(f'Sua idade daqui a 100 anos será {Fidade} anos')

Qual sua idade? 50
Sua idade daqui a 100 anos será 150 anos

##Questão 4

In [ ]:
Range = 25
Valor = 1
Primo = 0

for y in range(2, Range-1):
  Primo = 0
  Valor=Valor+1
  for x in range (2, Valor-1):
    if Valor%x == 0:
      Primo = 1
  if Primo == 0:
    print(Valor)

2
3
5
7
11
13
17
19
23

##Questão 5

In [ ]:
dia=input('Insira o dia: ')
mes=input('Insira o mes: ')
ano=input('Insira o ano: ')
dia=dia.zfill(2)
mes=mes.zfill(2)
print(f"A data é {dia}/{mes}/{ano}")

Insira o dia: 15
Insira o mes: 2
Insira o ano: 1998
A data é 15/02/1998